.spinner_container{
  display: none;
  z-index: 999999999;
}

.spinner2_background {
  width: 100%; 
  height: 100%;
  text-align: center;
  position: fixed;
  z-index: 99999;
  background-color: black;
  opacity: 0.4;
}

.spinner2 {
  width: 100%; 
  height: 100%;
  text-align: center;
  position: fixed;
  top: 48%;
  /* left: 47%; */ 
  z-index: 99999;
  color: white;
  opacity: 1!important;
}

.spinner2 > div {
  width: 18px;
  height: 18px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner2 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner2 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}