/* INDEX */
.containerPeliculas img{
    width:260px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    position: relative;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 5;

}

/* PELÍCULA */
.cardPelicula{
    display: flex;
    justify-content: center;
}

.cardPelicula .card{
    width: 70%;
}

.card-body img{
    width: 100%;
    margin:10px;           
}

.textoCard{
    margin-top: 10px;
}

.btnTrailer{
   margin-left: auto;
}

.flex{
    display: flex!important;
}

.pelicula{
    width: 70%!important;
}


@media (max-width: 500px) {
    .cardPelicula .card{
        width: 100%;
    }
    .pelicula{
        width: 100%!important;
    }

    .card-body img{
        margin: 0px!important;
    }
}