:root {
    --primary-color: #1C2D3A;
}

.container-rows {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-wrap {
    flex: 0 0 100%;
    margin: 5px;
    justify-content: center;
    flex: 0 0 95%;
}

.row-background {
	background: #fff;
	width: 100%;
	height: 80px;
	display: flex;
	transition: background-color 0.5s ease;
	border-radius: 2px;
}

.row-background:hover { 
	background-color: var(--primary-color);
  }

.rowNew {
    display: flex;
	background: #4d4d4d;
	width: 98%;
	border-radius: 2px;
}

.collapse-container {
    margin: 5px;
    margin-top: 10px;
}

/* Grow Shadow Reports*/
.hvr-grow-shadow-reports {
	display: flex; 
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.hvr-grow-shadow-reports:hover, .hvr-grow-shadow-reports:focus, .hvr-grow-shadow-reports:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.button-container{
    display: flex;
    justify-content: flex-end;
}

.rightButton {
    flex: 0 0 7%;
    margin-right: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.text-tittle{
    display: flex;
    font-size: 2.3em;
    margin-left: 15px;
    align-items: center;
    flex: 0 0 88%;
}

.number-square{
    background: #1C2D3A;
    color: white;
    font-size: 3em;
    display: flex;
    align-items: center;
    flex: 0 0 8%;
    justify-content: center;
}

.nextSquare {
    display: flex;
    align-items: center;
    flex: 95%;
}

.start-flex {
    display: flex;
    padding: 0;
}

.buttonFlex{
    display: flex;
    justify-content: flex-end;
    flex: 0 0 10%;
}

 @media only screen and (max-width: 1170px) {
    .text-tittle{
        flex: 0 0 85%;
    }
  }

  @media only screen and (max-width: 970px) {
    .text-tittle{
        flex: 0 0 80%;
        font-size: 1.8em;
    }
  }

  @media only screen and (max-width: 870px) {
    .text-tittle{
        flex: 0 0 77%;
        font-size: 1.3em;
    }
  }

  @media only screen and (max-width: 767px) {
    .text-tittle{
        flex: 0 0 70%;
        font-size: 1em;
    }

    .number-square{
        font-size: 2em;
    }
    
    .numeral {
        display: none;
    }

    .rightButton {
        margin-left: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .icon_tittle_report {
        display: none;
    }

    .tittle_report{
        font-size: 17px!important;
    }
  }

    .table-responsive {
        table-layout: auto !important;
    }
    .table-responsive th > .column-header-anchor > .text {
        overflow: auto !important;
        -ms-text-overflow: auto !important;
        -o-text-overflow: auto !important;
        text-overflow: auto !important;
        white-space: auto !important;
    }
    .table-responsive td {
        overflow: auto !important;
        -ms-text-overflow: auto !important;
        -o-text-overflow: auto !important;
        text-overflow: auto !important;
        white-space: auto !important;
    } 
