/*GENERAL*/
.messages-div{
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.messages-div p{
    margin-bottom: -1px;
}
.messages-div div{
    border-radius: 0;
}

/*Cards*/
.card{
    z-index: 0;
    /* box-shadow: 0 5px 10px rgba(0, 70, 130, 0.3); */
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    margin-bottom: 10px;
}

.card:hover{
    z-index: 1;
    /* box-shadow: 0 10px 20px rgba(0, 70, 130, 0.5); */
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

.card .card-header {
    padding: 10px;
    overflow: hidden;
    background: #263238;
}

.card .card-header .card-title {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .card-container {
    right: 6px;
    top: 6px;
}

.card .card-body {
    padding: 10px;
}

/*INICIO*/
.sol-inicio{
    width: 330px;
    margin-bottom: -65px;
    margin-top: -70px;
}

.switch {
    cursor: pointer;
    position: relative;
    height: 30px;
    line-height: 30px;
    margin: 5px 0px;
 }

.switch input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

.switch input:checked + span:after {
    left: 16px;
}

.switch input:checked + span {
    background-color: #CE2E48;
}

.switch input:disabled + span {
    opacity: 0.5;
}

.switch input:disabled + span:after {
    box-shadow: none;
    border: 1px solid #d7dde3;
}

.switch span {
    position: relative;
    width: 45px;
    height: 30px;
    border-radius: 30px;
    background-color: #999999;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    left: 0px;
}

.switch span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 26px;
    top: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.switch.switch-lg {
    margin: 0px;
    height: 35px;
    line-height: 35px;
    margin: 0px !important;
}

.switch.switch-lg input:checked + span:after {
    left: 27px;
}

.switch.switch-lg span {
    width: 60px;
    height: 35px;
    border-radius: 30px;
}

.switch.switch-lg span:after {
    width: 30px;
}

.switch.switch-sm {
    margin: 0px;
    height: 20px;
    line-height: 20px;
    margin: 10px 0px;
}

.switch.switch-sm input:checked + span:after {
    left: 16px;
}

.switch.switch-sm span {
    width: 35px;
    height: 20px;
    border-radius: 10px;
}

.switch.switch-sm span:after {
    width: 16px;
}

/* ./switch button */

.perfil-wrapper{
    text-align:center;
    margin:0 auto;
    padding:0px;
}

.view-image-perfil
{
    width: 100%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.perfil-button{
    border-radius: 0 0 0.25rem 0.25rem;
}

.row-text{
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 0 5px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rowsMovies{
    margin-top: 92px!important;
    font-size: 1.2em;
}

.flexy50{
    width: 50%;
}

.flexy70{
    width: 70%;
}


@media (max-width: 500px) {
    .flexy{
        width: 100%;
    }
    .flexy70{
        width: 100%;
    }
}
