.card-button {
    padding: 5px!important;
}

.flex-end {
    justify-content: flex-end;
}

.pagination-fix {
    margin-right: 20px;
}

.margin-b-14 {
    margin-bottom: -14px;
}

.margin-t-5 {
    margin-top: 5px;
} 

.etiqueta-helper{
    font-size: 13px;
}

.card-title{
    color: white;
    font-weight: 500!important;
    margin-bottom: 0!important;
}

.fa-2x {
    font-size: 1.5em!important;
}

a > .menuColor{
    color:#000!important;
    font-size: 20px;
}